<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "HVACBusiness",
  "name": "B.B. Install Organization S.R.L",
  "url": "https://bbinstall.ro/",
  "logo": "https://bbinstall.ro/static/img/logo.png",
  "telephone": "+40 770 794 240",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Drobeta-Turnu Severin",
    "addressRegion": "MH",
    "addressCountry": "RO"
  },
  "openingHours": "Mo-Fr 08:00-18:00, Sa 09:00-14:00",
  "areaServed": "Mehedinți, RO"
}
</script>
