<!-- Carusel Desktop -->
<div id="bbinstallCarouselDesktop" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="/media/centrala1920.png" class="d-block w-100 img-fluid" alt="Centrale termice">

      <div class="text-md-start carousel-left">
        <div class="carousel-inner-text">
          <h2 class="carousel-title">CENTRU AUTORIZAT</h2>
          <h2 class="carousel-title">CENTRALE TERMICE ȘI POMPE DE CALDURĂ</h2>
          <h2 class="carousel-brand">BB INSTALL ORGANIZATION</h2>
          <h2 class="carousel-title">Dispecerat: +40 770.794.240</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carusel Mobil -->
<div id="bbinstallCarouselMobile" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="/media/centrale_mobile.jpg" class="d-block w-100 img-fluid" alt="Centrale mobile">
    </div>
  </div>
</div>
